.resourcesMain {
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    min-height: 100vh;
    background-color: #0F380F;
    position: relative;
    justify-items: center;
}

.resourcesTitleContainer {
    display: flex;
    width: 50vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.logs {
    height: 20vh;
}

.resourcesTitle {
    font-size: 70px;
    color: #C5D2A7;
    font-weight: 700;
}

.bodyContainer {
    display: flex;
    width: 100%;
    margin-bottom: 5vh;
}

.resourcesBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}


.resourcesFooter {
    display: flex;
    width: 95vw;
    height: fit;
    justify-content: space-between;

}

.img {
    width: 10vw;
}

.infocontainer {
    top:0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 10;
}

.info {
    width: 30%;
    height: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #306230;
    position: absolute;
    border-radius: 2rem;
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    background-color: #C5D2A7;
    position: absolute;
    top: 15px;
    right: 30px;
    font: #0F380F;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .bodyContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5vh;
    }

    .resourcesTitleContainer {
        display: flex;
        width: 100vw;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }

    .resourcesTitle {
        font-size: 40px;
        color: #C5D2A7;
        font-weight: 700;
    }

    .logs {
        height: 10vh;
    }

    .info {
        width: 80%;
        height: 30%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #306230;
        position: absolute;
        border-radius: 2rem;
        opacity: 0;
        animation: fadeIn 0.8s ease-in forwards;
    }

    .button {
        width: 30px;
        height: 30px;
        border-radius: 0.5rem;
        background-color: #C5D2A7;
        position: absolute;
        top: 7vh;
        right: 30px;
        font: #0F380F;
    }
}
