.container {
    width: 45vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlecontainer {
    display: flex;
    align-items: center;
}

.paintbrush {
    height: 6vh;
}

.paintbrushtwo {
    height: 6vh;
    transform: scaleX(-1);
}

.title {
    margin-top: 10px;
    font-size: 32px;
    color: #daa520;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}


.artToolContainer {
    display: flex;
    width: 75%;
    height: fit-content;
    margin-top: 5vh;
    padding-top: 10px;
    border-radius: 2rem;
    background-color: #8BAC0F;
    box-shadow: 5px 5px 0px 0px #C5D2A7;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.artToolContainer:hover {
    transform: scale(1.1)
}

.artToolIcon {
    width: 10vw;
    margin-right: 2vw;
}

.artToolDescContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.artToolTitle {
    font-size: 28px;
    color: #C5D2A7;
    margin-bottom: 10px;
    font-weight: bolder;
}

.artToolReason {
    font-size: 16px;
    margin-top: 12px;
    color: #306230;
}


@keyframes hovergrow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 22px;
        color: #daa520;
        font-weight: 600;
        margin-left: 5px;
        margin-right: 5px;
    }

    .artToolContainer {
        display: flex;
        width: 90%;
        height: fit-content;
        margin-top: 4vh;
        padding-top: 10px;
        border-radius: 2rem;
        background-color: #8BAC0F;
        box-shadow: 5px 5px 0px 0px #C5D2A7;
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .artToolIcon {
        width: 30vw;
        object-fit: contain;
        margin-right: 2vw;
    }

    .artToolTitle {
        font-size: 24px;
        color: #C5D2A7;
        margin-bottom: 10px;
        font-weight: bolder;
    }

    .artToolReason {
        font-size: 12px;
        margin-top: 12px;
        color: #306230;
        text-align: start;
    }
}