.teamSection {
    text-align: center;
    margin: 20px;
    padding: 25px;
}

.peopleGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 6px;
    max-width: 90%;
    margin: auto;
}

.teamMember img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

@media (max-width: 1200px) {
    .peopleGrid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }
}

@media (max-width: 800px) {
    .peopleGrid {
        grid-template-columns: repeat(1, 1fr); 
        gap: 4px;
    }
}
