.hero {
    background-color: rgb(226, 60, 60);
    text-align: center;
    padding: 20px;

    width: 1000px;
    margin: 20px auto; 

    border-radius: 10px;

    justify-content: center;

    box-shadow: inset 5px 5px whitesmoke;
}

.hero h1 {
    font-size: 36px;
    color: white;
}

.hero p {
    font-size: 24px;
    color: lightgray;
}
