.Sound-tools-Container {
    width: 45vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.title {
    font-size: 32px;
    color: #daa520;
    font-weight: 600;
}

.Sound-tools-section-container {
    display: flex;
    width: 90%;
    height: 30vh;
    margin-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-between;
}

.Sound-tools-container {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: fit-content;
}

.Sound-tools-icon {
    width: 100%;
    height: 20vh;
    object-fit: contain;
    background-color: #C5D2A7;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 0px 0px #306230;

}

.Sound-tools-desc-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.Sound-tools-title {
    font-size: 20px;
    color: #C5D2A7;
    margin-bottom: 5px;
}

.Sound-tools-desc {
    text-align: start;
    margin-top: 10px;
    font-size: 15px;
}