.scrollContainer {
    display: flex;

    position: relative;
    align-items: center;
    
    width: fit-content; 
}

.inputContainer {
    /* why does position: absolute default to middle of scroll?? */
    position: absolute;
    top: 20%; 
    left: 15%; 
}