@font-face {
    font-family: 'MonroFont';
    src: url('../../assets/fonts/Munro-2LYe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    border: 2px solid #3333336b;
    image-rendering: pixelated;
    padding: 10px 20px;
    position: relative;
}
.header::after {
    content: '';
    position: absolute;
    top: 2px;        
    left: 2px;       
    right: 2px;      
    bottom: 2px;     
    border: 3px solid #333333;  
    pointer-events: none;  
    z-index: 1;      
}

/* Ensure header contents appear above the inner border */
.header > * {
    position: relative;
    z-index: 2;
}

/* navbar or navBar?? */
.navbar {
    display: flex;
    align-items: center;
    width: fit-content;
    
}

.websiteName {
    font-size: 40px;
    color: #cccccc;
    text-shadow: 2px 2px 0px #000000;
    letter-spacing: 2px;
    padding: 10px;
    font-family: 'MonroFont'
}

.navbutton {
    display: flex;
    width: 6vw;
    height: 4vh;
    font-size: 21px;
    color: #aaaaaa;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/buttons/pixel-button-white.svg');
    background-size: 100% 100%; /* Stretch to fill exactly */
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'MonroFont';
    margin-right: 1vw;
    text-decoration: none;
}


.navbutton:hover {
    background-color: #333333;
    color: #ffffff;
    transform: translate(-2px, -2px);
}

:root {
  --glitch-color-1: #E91E63;
  --glitch-color-2: #03A9F4;
}

.glitchText {
  position: relative;
  display: inline-block;
  color: #cccccc;
  font-weight: bold;
}


.glitchText::before,
.glitchText::after {
  content: "2025"; /* needs to match actual text */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
}

.glitchText:hover::before {
  color: rgba(233, 30, 99, 0.8);
  animation: glitchBefore 300ms linear infinite;
}

.glitchText:hover::after {
  color: rgba(3, 169, 244, 0.8);
  animation: glitchAfter 300ms linear infinite;
}

@keyframes glitchBefore {
  0%    { top: 0%; left: 0%; }
  12.5% { top: 0%; left: 2%; }
  25%   { top: 0%; left: 4%; }
  37.5% { top: 2%; left: 4%; }
  50%   { top: 4%; left: 4%; }
  62.5% { top: 4%; left: 2%; }
  75%   { top: 4%; left: 0%; }
  87.5% { top: 2%; left: 0%; }
  100%  { top: 0%; left: 0%; }
}

@keyframes glitchAfter {
  0%    { top: 4%; left: 4%; }
  12.5% { top: 2%; left: 4%; }
  25%   { top: 0%; left: 4%; }
  37.5% { top: 0%; left: 2%; }
  50%   { top: 0%; left: 0%; }
  62.5% { top: 2%; left: 0%; }
  75%   { top: 4%; left: 0%; }
  87.5% { top: 4%; left: 2%; }
  100%  { top: 4%; left: 4%; }
}
