.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    background-color: #306230;
    height: 7vh;
    padding-left: 2vw;
    padding-right: 1vw;
}

/* navbar or navBar?? */
.navbar {
    display: flex;
    align-items: center;
    width: fit-content;
}

.websiteName {
    font-size: 40px;
    color: #C5D2A7;
    font-weight: 900;
}

.navButton {
    display: flex;
    width: 5vw;
    height: 4vh;
    font-size: large;
    color: #C5D2A7;
    align-items: center;
    justify-content: center;
    background-color: #8BAC0F;
    margin-right: 1vw;
    border-radius: 1rem;
    box-shadow: 5px 5px 0px 0px #C5D2A7;
}