.navbar {
    background: green;
    color: white;
    padding: 15px 0;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}
