.hero {
    margin: 200px 0;
}

.faq, .sponsors {
    background: red;
    margin: 40px 0;
    padding: 20px;

    /* doesn't have infinite width*/ 
    max-width: 600px;

    /* center */ 
    margin-left: auto;
    margin-right: auto;
}
