.sponsors {
    background-color: rgb(226, 60, 60);
    text-align: center;
    padding: 20px;

    width: 1000px;
    margin: 20px auto; 

    border-radius: 10px;

    justify-content: center;

    box-shadow: inset 5px 5px whitesmoke;
}

.sponsors h2 {
    font-size: 28px;
    color: white;
}

.sponsors p {
    font-size: 18px;
    color: lightgray;
}
