.main {
  width: 50vw;
  height: 100%;
  padding-top: 18vh;
}

.container {
  display: flex;
  width: 40vw;
  height: 33vh;
  font-size: 21px;
  color: #aaaaaa;
  align-items: center;
  background-image: url('@/assets/resources/pixel-button-white.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'MonroFont';
  margin-right: 1vw;
  text-decoration: none;
  padding-left: 2vw;
  margin-bottom: 30px;
  animation: fadeIn 0.8s ease-in forwards;
}

.godot_icon {
  display: flex;
  width: 25%;
  height: 20vh;
  background-image: url('@/assets/resources/godot.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1vw;
}

.unity_icon {
  display: flex;
  width: 25%;
  height: 20vh;
  background-image: url('@/assets/resources/unity.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1vw;
}

.text_container {
  width: 67%;
  height: 100%;
}

.title {
  margin-bottom: 5px;
}

.list {
  font-size: 19px;
  margin-bottom: 2px;
}

.list_item {
  margin-bottom: 5px;
}

.godot_button {
  padding: 10px;
  width: fit-content;
  font-family: 'MonroFont';
  border-radius: 10px;
  background-color: #1a1a1a;
  text-decoration: none;
  color: gray;
  margin-left: 75%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}