.container {
    width: 45vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.titlecontainer {
    display: flex;
    align-items: center;
}

.hammer {
    height: 5vh;
}

.hammertwo {
    height: 5vh;
    transform: scaleX(-1);
}

.title {
    font-size: 32px;
    color: #daa520;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.workshopSectionContainer {
    display: flex;
    width: 90%;
    height: 30vh;
    margin-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-between;
}

.workshopContainer {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: fit-content;
    opacity: 0;
    animation: fadein 1.5s ease-in forwards
}

.workshopIcon {
    width: 100%;
    height: 20vh;
    background-color: #C5D2A7;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 0px 0px #306230;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.workshopIcon:hover {
    transform: scale(1.1)
}

.workshopDescContainer  {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.workshopTitle {
    font-size: 20px;
    color: #C5D2A7;
    margin-bottom: 5px;
}

.workshopDesc {
    text-align: start;
    margin-top: 5px;
    font-size: 15px;
}


@keyframes hovergrow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100vw;
        height: 80vh;
        margin-bottom: 5vh;
    }
    
    .workshopSectionContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 65vh;
        margin-top: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: space-between;
    }

    .title {
        font-size: 22px;
        color: #daa520;
        font-weight: 600;
        margin-left: 10px;
        margin-right: 10px;
    }

    .workshopContainer {
        display: flex;
        width: 100%; 
        height: fit-content;
        flex-direction: row; 
        align-items: center;
        margin-bottom: 15px;
    }

    .workshopDescContainer  {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        margin-left: 20px;
    }
}