.teamSection {
    text-align: center;
    margin: 20px 0;
}

.peopleGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.teamMember {
    text-align: center;
}
