.faq {
    background-color: red;
    text-align: center;
    padding: 20px;

    width: 1000px;  
    height: 200px;
    margin: 20px auto; 
}


.faq h2 {
    font-size: 28px;
    color: white;
}

.faq p {
    font-size: 18px;
    color: lightgray;
}