.parentContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.threeContainer {
  position: absolute;
  top: 0;
  right: 10%;
  width: 100vw;
  height: 100%;
  transition: transform 0.7s ease-in-out;
}

.threeScene {
  width: 100%;
  height: 100%;
  display: block;
}

.canvasCentered {
  transform: translateX(0); 
}

.canvasShiftedLeft {
  transform: translateX(-20vw); 
}

/* Details container fills the right half of the screen */
.details {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  padding: 2vh 2vw;
  box-sizing: border-box;
  transition: transform 0.7s ease-in-out;
  /* Optionally animate details sliding in. For example, start offscreen and then slide into view */
  transform: translateX(50vw); /* initially offscreen to the right */
}

/* When an item is selected, slide the details into view */
.detailsActive {
  transform: translateX(0);
}

.empty {
  text-align: center;
  padding-top: 50px;
}

