@font-face {
    font-family: 'MonroFont';
    src: url('../../assets/fonts/Munro-2LYe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contactTitle {
    font-family: 'MonroFont';
    text-align: center;
    font-size: 140px;
    color: #ffffff;
    background-color: rgba(17, 14, 24, 0.6);
    margin: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.contactContainer {
    width: 100%;
    height: 120vh;
    background-image: url("@assets/commonRoom.JPG"); 
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0px;
}

@media (max-width: 2000px) {
    .contactTitle {
        font-size: 120px;
    }
}

@media (max-width: 1200px) {
    .contactTitle {
        font-size: 100px;
    }
}

@media (max-width: 700px) {
    .contactTitle {
        font-size: 70px;
    }
}

.contactImage {
    display: block;
    margin: 20px auto 0;
    max-width: 100%; 
    height: auto;
}

@media (max-width: 900px) {
    .contactImage {
        width: 90%; 
    }
}

@media (max-width: 600px) {
    .contactImage {
        width: 100%;
    }
}
.textContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture {
    display: flex;
    justify-content: center;
    width: 100%;
}