.contactTitle {
    text-align: center;
    font-size: 36px;
    color: #723e19;
    background-color: #cca173;
    margin: 20px;
    border: 6px solid #723e19;
    padding: 30px;
}

.contactTitle {
    animation: transitionIn 1s;
}

#test {
    transition-duration: 1s;
    transform:translateY(90px);
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform:translateY(-90px);
    }

    to {
        opacity: 1;
    }
}