.rightColumn {
    display: flex;
    flex-direction: column;
    padding-right: 10vw;
    padding-top: 20px;
    text-align: center;
}

.boxRight {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
}

.boxTitle {
    font-size: 30px;
    font-weight: bold;
}

.imagePlaceholder {
    width: 35%;
    height: 200px;
    border-radius: 0.5rem;
}
