.Container {
    width: 45vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.titlecontainer {
    display: flex;
    align-items: center;
}

.sound {
    height: 5vh;
    transform: scale(-1);
}

.soundtwo {
    height: 5vh;
}

.title {
    font-size: 32px;
    color: #daa520;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.soundToolsSectionContainer {
    display: flex;
    width: 90%;
    height: 30vh;
    margin-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-between;
}

.soundToolsContainer {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: fit-content;
}


.soundToolsIcon {
    max-width: 100%;
    height: 20vh;
    object-fit: contain;
}

.bfxricon {
    max-width: 100%;
    object-fit: contain;
    border-radius: 1.5rem;
    
}

.infobutton {
    height: 20vh;
    background-color: #C5D2A7;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 0px 0px #306230;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.infobutton:hover {
    transform: scale(1.1)
}

.soundToolsDescContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 100%;
}

.soundToolsTitle {
    font-size: 20px;
    color: #C5D2A7;
    margin-bottom: 5px;
}

.SoundToolsDesc {
    text-align: start;
    margin-top: 10px;
    font-size: 15px;
}


@keyframes hovergrow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 992px) {
    .Container {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .soundToolsSectionContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100vh;
        margin-top: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
        justify-content: space-between;
    }

    .title {
        font-size: 22px;
        color: #daa520;
        font-weight: 600;
        margin-left: 5px;
        margin-right: 5px;
    }

    .infobutton {
        height: 20vh;
        width: 100%;
        background-color: #C5D2A7;
        border-radius: 1.5rem;
        box-shadow: 5px 5px 0px 0px #306230;
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .bfxricon {
        max-width: 100%;
        height: 18vh;
        object-fit: contain;
        border-radius: 1.5rem;
        
    }
    
    
    .soundToolsContainer {
        display: flex;
        width: 100%; 
        height: fit-content;
        flex-direction: row; 
        align-items: center;
        margin-bottom: 15px;
    }

    .soundToolsDescContainer  {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        margin-left: 20px;
    }
}